{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes{% endblock %}

{% block body %}
{# Messages flash #}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Liste des épisodes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre de Série</th>
                <th>Numéro d'épisode</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for episode in episodes %}
            <td>{{ episode.season.program.title }}</td> 
                <td>{{ episode.number }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('app_episode_show', {'id': episode.id}) }}">show</a>
                    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>
                </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_episode_new') }}">Create new</a>
{% endblock %}
